.top-form{
    -fx-background-color: linear-gradient(to bottom right, #177E83, #75DDE3);
    -fx-border-color: #000;
    -fx-border-width: 4px .4px .2px .4px;
}
.semi-top-form{
    -fx-background-color: #efefef;
    -fx-border-color: #000;
    -fx-border-width: 2px .4px .8px .4px;
}
.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.25), 3,0,0,0);
}
.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}
.user-pane{
    -fx-background-color: #245B5E;
    -fx-border-color: #70DBE0;
    -fx-border-radius: 5px;
}
.tabpane{
    -fx-background-color: #5BB9BE;
    -fx-background-radius: 15px;
    -fx-border-color: #70DBE0;
    -fx-border-radius: 15px;
    -fx-border-wight: 2px;
}
.nav-manage-billboard{
    -fx-background-color: linear-gradient(to right, #15338A, #3A71F9);
    -fx-background-radius: 15px;
    -fx-border-color: linear-gradient(to right, #3A71F9, #15338A);
    -fx-border-radius: 15px;
}
.nav-manage-event{
    -fx-background-color: linear-gradient(to right, #1C4395, #3B6FDD);
    -fx-background-radius: 15px;
    -fx-border-color: linear-gradient(to right, #3B6FDD, #1C4395);
    -fx-border-radius: 15px;
}
.table-view{
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: linear-gradient(to bottom right, #125B85, #317FAB);
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
}
.table-view .column-header-background{
    -fx-border-color: linear-gradient(to bottom right, #125B85, #317FAB);
    -fx-border-radius: 5px 5px 0 0;
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 30px;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
}
.btn-mange-event{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #135574 0%, #4586A5 100%), 
        #156067, #2F848C, 
        radial-gradient(center 50% 50%, radius 100%, #156067, #2F848C);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.btn-mange-event:hover{
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #156067 0%, #2F848C 100%), 
        #135574, #4586A5, 
        radial-gradient(center 50% 50%, radius 100%, #135574, #4586A5);
}
.btn-mange-event:pressed{
    -fx-padding: 10 15 13 15;
    -f-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}
.txt-manage-event{
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 5px;
    -fx-border-color: #70DBE0;
    -fx-border-wight: 2px;
    -fx-border-radius: 5px;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
}
.txt-manage-event:focused{
    -fx-background-color: #fff;
    -fx-border-color: linear-gradient(to bottom right, #256b51, #70DBE0);
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.billing{
    -fx-background-color: linear-gradient(to right, #142FA1, #2E53F2);
    -fx-background-radius: 15px;
    -fx-border-color: linear-gradient(to right, #2E53F2, #142FA1);
    -fx-border-radius: 15px;
}
.btn-pane{
    -fx-background-color: linear-gradient(to right, #3379A7, #5EA8D9);
    -fx-background-radius: 15px;
    -fx-border-color: linear-gradient(to right, #5EA8D9, #3379A7);
    -fx-border-radius: 15px;
}

