.nav-form{
    -fx-background-color: linear-gradient(to right, #245150, #45BEBC);
    -fx-background-radius: 8px;
}
.nav-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-alignment: CENTER_LEFT;
}
.nav-btn:hover{
    -fx-background-color: linear-gradient(to right, #6BC0AC, #8DEBD5);
    -fx-background-radius: 8px;
}
.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}
.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}
