.nav-form{
    -fx-background-color: linear-gradient(to right, #245150, #45BEBC);
    -fx-background-radius: 8px;
}
.nav-form-seats{
    -fx-background-color: linear-gradient(to right, #156067, #2F848C);
}
.nav-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-alignment: CENTER_LEFT;
}
.nav-btn:hover{
    -fx-background-color: linear-gradient(to right, #6BC0AC, #8DEBD5);
    -fx-background-radius: 8px;
}
.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}
.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}
.btn-buy-tickets{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(from 0% 94% to 0% 100%, #1CA57C 0%, #3BD0DD 100%), 
        #1CA57C, #3BD0DD, 
        radial-gradient(center 50% 50%, radius 100%, #156067, #2F848C);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.btn-buy-tickets:hover{
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #156067 0%, #2F848C 100%), 
        #135574, #4586A5, 
        radial-gradient(center 50% 50%, radius 100%, #1CA57C, #3BD0DD);
}
.btn-buy-tickets:pressed{
    -fx-padding: 10 15 13 15;
    -f-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}
.txt-buy-tickets{
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 5px;
    -fx-border-color: #70DBE0;
    -fx-border-wight: 2px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}
.txt-buy-tickets:focused{
    -fx-background-color: #fff;
    -fx-border-color: linear-gradient(to bottom right, #256b51, #70DBE0);
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.nav-info-event{
    -fx-background-color: linear-gradient(to right, #186D5C, #269B83);
}
