.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.75), 4,0,0,0);
}
.pane_card{
    -fx-background-color: #9EE8EF;
    -fx-border-color: #5D9EA4;
    -fx-border-wight: 2px;
}
.btn-event_card{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(from 0% 94% to 0% 100%, #246D9E 0%, #428CBE 100%);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.btn-event_card:hover{
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #18BBBE 0%, #409C9E 100%);
}
.btn-event_card:pressed{
    -fx-padding: 10 15 13 15;
    -f-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}
