.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
}
.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.25), 3,0,0,0);
}
.nav-form{
    -fx-background-color:#45BEBC;
}
.nav-login{
    -fx-background-color: linear-gradient(to right, #177E83, #2BA8AE);
    -fx-background-radius: 5px;
}
.login-btn{
    -fx-background-color: linear-gradient(to right, #1C6B70, #299096);
    -fx-border-color: #70DBE0;
    -fx-border-radius: 5px;
    -fx-border-wight: 2px;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
    -fx-text-fill: #fff;
    -fx-alignment: CENTER;
    
}
.login-btn:hover{
    -fx-background-color: linear-gradient(to right, #6BC0AC, #8DEBD5);
    -fx-background-radius: 8px;
}
.textField{
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 5px;
    -fx-border-color: #70DBE0;
    -fx-border-wight: 2px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}
.textField:focused{
    -fx-background-color: #fff;
    -fx-border-color: linear-gradient(to bottom right, #256b51, #70DBE0);
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
